/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: 230, 90%, 63%;
	--accent-dark: 230, 90%, 73%;
	--black: 220, 85%, 8%;
	--white: 220, 9%, 87%;
	--gray: 225, 6%, 13%;
	--gray-light: 230, 90%, 15%;
	--gray-dark: 230, 91%, 91%;
	--gray-gradient: hsl(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px hsl(var(--gray), 25%),
		0 8px 24px hsl(var(--gray), 33%), 0 16px 32px hsl(var(--gray), 33%);
	--site-columns-5: 1fr min(660px, 100%) minmax(0%, 260px) minmax(0%, 360px)
		1fr;
	--site-columns-5-wide: 1fr min(760px, 100%) minmax(0%, 210px)
		minmax(0%, 310px) 1fr;
	--text-sm: 0.875rem;
	--font-display: 'Noto Sans', Arial, sans-serif;
	--theme-words-bottom-start: hsla(225, 6%, 13%, 0.08);
	--theme-words-bottom-end: hsla(225, 6%, 13%, 0);
	--theme-words-top-start: hsla(0, 0%, 100%, 0.12);
	--theme-words-top-end: hsla(0, 0%, 100%, 0.02);
	--theme-undercut: hsla(230, 90%, 63%, 0.6);
	--theme-overcut: hsla(230, 90%, 73%, 0.8);
	--ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono-regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

::selection {
	background: hsl(var(--accent-dark));
	color: hsl(var(--gray-dark));
}
body {
	font-family: var(--font-display);
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: hsl(var(--black));
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: hsla(var(--gray-dark), 0.7);
	font-size: 1rem;
	line-height: 1.7;
}
/* main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: hsl(var(--gray-dark));
	line-height: 1.2;
}
h1 {
	font-size: 2.63em; /* 1.17em * 2.25 (3.052 / 1.563 = 1.95, 1.95 * 1.17 = 2.28) */
}
h2 {
	font-size: 2.09em; /* 1.17em * 1.78 (2.441 / 1.563 = 1.56, 1.56 * 1.17 = 1.82) */
}
h3 {
	font-size: 1.67em; /* 1.17em * 1.43 (1.953 / 1.563 = 1.25, 1.25 * 1.17 = 1.46) */
}
h4 {
	font-size: 1.17em; /* 1.17em */
}
h5 {
	font-size: 0.94em; /* 1.17em * 0.80 (1.25 / 1.563 = 0.80, 0.80 * 1.17 = 0.94) */
}
strong,
b {
	font-weight: 700;
}
a {
	color: hsl(var(--gray-dark));
}
a:hover {
	color: hsl(var(--accent-dark));
	text-decoration: underline;
}
/* #clip-grid a:hover {
	color: hsl(var(--gray-dark));
} */
p {
	margin-bottom: 1em;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
	margin-bottom: 20px;
}
tr,
th,
td {
	border: 1px solid hsl(var(--gray-dark));
	padding: 0.5em;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	font-size: var(--text-sm);
	font-family: 'JetBrains Mono', monospace;
	color: hsl(var(--gray-light));
	background-color: hsl(var(--gray-dark));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	margin-bottom: 20px;
	border-radius: 8px;
}
pre > code {
	all: unset;
	font-size: 1.125rem;
}
blockquote {
	border-left: 4px solid hsl(var(--gray-dark));
	padding: 0 0 0 20px;
	margin-bottom: 20px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid hsl(var(--gray-dark));
}
time {
	font-size: 0.875em;
}
/* @media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
} */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
.prose {
	display: grid;
}
.prose h2 {
	font-size: 2rem;
	margin-block: 13px;
}
.prose h3 {
	font-size: 1.625rem;
	margin-block: 13px;
}
.prose h4 {
	font-size: 1.25rem;
	margin-block: 13px;
}
.prose p {
	font-size: 1.125rem;
	margin-bottom: 26px;
}
.prose ul {
	list-style-type: disc;
	padding-left: 20px;
}
.prose ul ul {
	list-style-type: circle;
}
.prose ul ul ul {
	list-style-type: square;
}
.prose ol {
	list-style-type: decimal;
	padding-left: 20px;
}
.prose ol ol {
	list-style-type: lower-alpha;
}
.prose ol ol ol {
	list-style-type: lower-roman;
}
.prose li {
	margin-bottom: 16px;
	ine-height: 1.6;
}
.prose blockquote > p {
	margin: 0;
}
.prose a {
	color: hsl(var(--accent-dark));
	text-decoration: underline;
}

.btn {
	border-radius: 8px;
	height: fit-content;
	width: max-content;
	padding: 3px 32px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: baseline;
	font-size: var(--text-sm);
	font-family: monospace !important;
	text-decoration: none !important;
	-webkit-transition: background-color 0.25s ease-out;
	transition: background-color 0.25s ease-out;
	border: 1px solid hsla(var(--white), 0.3);
	color: hsl(var(--gray-dark));
}

.btn:hover {
	color: hsl(var(--gray-light));
	background-color: hsl(var(--accent-dark));
	border: 1px solid hsl(var(--accent-dark));
}

.word-container {
	position: absolute;
	font-family: var(--font-display);
	font-size: clamp(96px, 36vw + 1rem, 520px);
	font-weight: 900;
	pointer-events: none;
	left: clamp(0px, 4vw - 1rem, 56px);
	top: 80px;
	contain: layout;
	font-display: block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 1;
}

.under {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(var(--theme-words-bottom-start)),
		to(var(--theme-words-bottom-end))
	);
	background-image: linear-gradient(
		90deg,
		var(--theme-words-bottom-start),
		var(--theme-words-bottom-end)
	);
	z-index: 0;
}

.over {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(var(--theme-words-top-start)),
		to(var(--theme-words-top-end))
	);
	background-image: linear-gradient(
		90deg,
		var(--theme-words-top-start),
		var(--theme-words-top-end)
	);
}

#clip-grid > * {
	grid-row: 1;
	grid-column: 1;
}

#overcut-grid a {
	color: hsl(var(--gray-light));
}

#overcut-grid svg {
	fill: hsl(var(--gray-light));
}

#overcut-grid .btn {
	color: hsl(var(--gray-light));
	border: 1px solid hsl(var(--gray));
}
#overcut-grid .btn:hover {
	color: hsl(var(--white));
	background-color: hsl(var(--gray));
}
.undercut {
	z-index: -1;
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
	-webkit-transition-property:
		opacity,
		-webkit-clip-path;
	transition-property:
		opacity,
		-webkit-clip-path;
	transition-property: clip-path, opacity;
	transition-property:
		clip-path,
		opacity,
		-webkit-clip-path;
	left: 0;
	background-color: var(--theme-undercut);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.overcut {
	z-index: 0;
	height: 100%;
	background-color: var(--theme-overcut);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
	clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-property:
		opacity,
		-webkit-clip-path;
	transition-property:
		opacity,
		-webkit-clip-path;
	transition-property: clip-path, opacity;
	transition-property:
		clip-path,
		opacity,
		-webkit-clip-path;
	-webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.subgrid {
	@apply relative grid grid-cols-[var(--site-columns-5)] col-span-full;
}
